# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

.idea

# data folders
data/*.db
data/mappings/anilist2mdex.csv
data/mappings/animeplanet2mdex.csv
data/mappings/bookwalker2mdex.csv
data/mappings/kitsu2mdex.csv
data/mappings/novelupdates2mdex.csv
data/mappings/myanimelist2mdex.csv
data/mappings/mangaupdates2mdex.csv
debug/*.txt


